.chat-input-container {
    position: sticky;
    bottom: 0;
    background-color: #F0F0F0;
    z-index: 100; /* Exemplo, ajuste conforme necessário */
    top: auto;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Isso ajuda a manter o rodapé na parte inferior */
}

.chat-container {
    flex-grow: 1; /* Isso ajuda a manter o rodapé na parte inferior */
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: flex-end;
  }

  .hello-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
}